<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather in <%= query_ %></title>
</head>
<body>
    <h1>Temperature in <%= query_ %> is <%= temp_ %> degrees Celcius</h1>
    <p><%= tempDescription_ %></p>
    <img src="<%= iconHttp_ %>" alt="Weather Icon">
</body>
</html>
